*{
    font-family: 'poppins';
}

body{
    margin: 0px;
    padding: 0px;
}

.containerBox{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url(bg1.jpg);
    margin: 30px 30px;
    height: 875px;;
    border-radius: 15px;
    display: block;
}

.Text1{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
}

.inputArea{
    background-color: rgba(255, 255, 255, 0.5);
    height: 490px;
    margin: 70px 150px;
    border-radius: 15px;
    text-align: center;
    display: block;
}

input{
    margin: 130px 100px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

select{
    margin: 0px 250px;
    margin-top: -30px;
    width: 200px;
    color: rgb(255, 94, 0);
    border-radius: 10px;
}

select , input{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(235, 220, 179);
    font-size: 20px;
    border-style: none;
}

.footer{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: -20px;
}

li{
    margin-left: 20px;
	border:1px solid rgb(255, 255, 255);
    border-radius: 50%;
	display: inline-block;
    background-color: rgb(255, 94, 0);
}

.footer .fa{
    padding: 10px;
    text-align: center;
	height: 10px;
    width: 10px;
}

a{
	display: block;
    color: white;
    transition: transform 0.5s, filter 0.5s ease-in-out;
}

a:hover{
    transform: scale(1.5);
}

/* responsive media query start */

@media (max-width: 1764px) {

    .containerBox{
        height: 565px;;
       
    }
    
    .Text1{
        color: white;
        text-align: center;
        padding-top: 2px;
        font-size: 20px;
    }
    
    .inputArea{
        height: 350px;
        margin: 20px 150px;
    }

    input{
        margin: 85px 50px;
    }
    
    select{
        margin: 0px 130px;
        margin-top: -30px;
        width: 200px;
    }
    
    select , input{
        padding: 15px;
        font-size: 15px;
    }

    .footer{
        font-size: 8px;
        margin-top: -10px;
    }
    
    .footer .fa{
        height: 5px;
        width: 5px;
    }

}

@media (max-width: 1284px) {
    
    select{
        margin: 0px 120px;
        margin-top: -30px;
        width: 200px;
    }
}

@media (max-width: 1260px) {

    input{
        margin: 85px 10px;
    }
    
    select{
        margin: 0px 100px;
        margin-top: -30px;
        width: 180px;
    }
}

@media (max-width: 1124px) {
    
    select{
        margin: 0px 80px;
        margin-top: -30px;
        width: 180px;
    }
}

@media (max-width: 1100px) {
    input{
        margin: 85px 0px;
    }
    
}

@media (max-width: 810px){
    input{
        margin: 85px 0px;
        width: 100px;
    }
    
    select{
        margin: 0px 10px;
        margin-top: -30px;
        width: 130px;
    }
}